body {
background-color: black; font-family: 'Handlee', cursive; font-size: 22px; padding: 10px;
}
.container {
    background-color: white; width: 600px; height: 450px; margin: auto; padding: 10px;
}
.container img{
    max-width: 70px; float: right; padding: 10px;
    }

input{
    font-family: 'Handlee', cursive; font-size: 18px;
}
.left{
    float: left; width: 50%;
}
.right{
    float:right; width: 50%;
}
.right input{
    display: block; border:none; margin-bottom: 3px;
}

.right input{
   border:none; border-bottom: solid gray; width: 250px;
}
.bottom input{
    padding: 10px; width: 25%; position: absolute; left:40%; bottom: 45%;
}